<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>게시글 작성</title>
    <link rel="stylesheet" href="/css/post.css">
</head>
<body>
<div class="container">
    <h1 id="formTitle">글 작성</h1>
    <form id="postForm">
        <input type="text" id="title" name="title" placeholder="제목" required><br>
        <textarea id="content" name="content" placeholder="내용" required></textarea><br>
        <button type="submit">저장</button>
        <a href="/templates/post.html/post.html">취소</a>
    </form>
</div>

<script src="/js/postForm.js"></script>
</body>
</html>